extends ../template

block variables
  - var title = 'Мой блог'

block content
  h1 Блог
  ul
    li
      h2 Запись1
      p Какой-то текст1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sint aut necessitatibus at alias soluta!
    li
      h2 Запись2
      p Какой-то текст2 Lorem ipsum dolor sit amet.
    li
      h2 Запись3
      p Какой-то текст3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, reiciendis.